*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(6,72,105,.849),rgba(3,96,133)),url(./image/blue-abstract-background.jpg);
    background-position: center; 
}

section{
    width: 500px;
    height: 300px;
    margin: 100px auto;
}
div{
    width: 100%;
}
label{
    display: block;
    padding: 20px;
    font-size: 25px;
}
input{
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 6px;

}
span{
    display: block;
    margin-left: 20px;
    color: red;
    font-style: italic;

}
form{
    background-color: white;
    width: 600px;
    height: 700px;
    border-radius: 6px;
}
.subbutton{
    margin-top: 20px;
}

.d-none{
    display: none;
}
